body {
  align-content: center;
  background-image: linear-gradient(to bottom right, rgb(135, 135, 135), white);
  background-color: gray;
  font-family: "Bebas Neue", cursive;
  height: 98vh;
}

.header {
  text-align: center;
  font-weight: bold;
  transition: ease 1s;
  color: white;
  font-size: 700%;
  letter-spacing: 0.2rem;
  margin-top: 0%;
  margin-bottom: 5%;
  text-shadow: black 2px 2px 2px;
}
.description {
  font-size: 15%;
  font-weight: lighter;
}
nav {
  position: absolute;
  opacity: 0%;
  /* background-color: rgb(80, 80, 80); */
  background-image: linear-gradient(rgb(70, 70, 70), rgb(56, 56, 56));
  width: 40%;
  height: 15px;
  padding-bottom: 4vh;
  border-bottom-right-radius: 10px;
  transition: all ease 0.5s;
  margin-bottom: 5px;
  display: flex;
  top: -10vh;
  left: 0vh;
}

.nav:hover {
  opacity: 100%;
}

.topofpage:hover nav {
  opacity: 90%;
  top: 0vh;
  box-shadow: 1px 1px 15px #222;
}

.topofpage:hover .header {
  perspective: 10px;
  /* transform: scale3d(1.1, 1.1, 1.1); */
}

ul {
  display: flex;
  /* background-color: orange; */
  /* height: 100%; */
  width: 100%;
}
ul > * {
  flex-basis: 100%;
  color: white;
  cursor: pointer;
  letter-spacing: 0.2vh;
  /* font-size: 10px; */
}
li:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}
.Page {
  display: flex;
}
input {
  font-family: cursive;
  border: none;
  appearance: none;
  background: #f2f2f2;
  border-radius: 6px;
  padding: 7px;
  outline: none;
  width: 70%;
}

.Container {
  /* position: absolute; */
  border: 4px solid rgb(89, 89, 89);
  border-radius: 10px;
  display: flex;
  box-shadow: 1px 1px 5px #222;
  /* background-color: rgba(250, 250, 210, 0.308); */
  transition: all ease 1s;
}

body .Container:hover .custom-field {
  opacity: 100%;
}

body .Container:hover {
  /* margin-top: 0px; */
  /* height: 70vh; */
  width: 98%;
}

.Container:hover .item {
  margin-top: 0px;
}
.Overview {
  background-color: white;
  border-radius: 10px;
  height: 50vh;
}

.Overview:nth-child(n) {
  width: 40%;
  text-align: center;
  margin: auto;
  transition: all ease 1s;
}

.Overview:hover {
  width: 98vh;
  /* height: 50vh; */
}
#column {
  transition: all ease 0.2s;
}
#column:hover {
  background-color: rgb(218, 218, 218);
}

.Item {
  cursor: pointer;
  width: 80%;
  height: 5vh;
  border: none;
  appearance: none;
  opacity: 60%;
  border-radius: 4px;
  border-top-left-radius: 10px;
  position: relative;
  -webkit-text-fill-color: white;
  font-family: Roboto Mono;
  margin-bottom: 7px;
  z-index: 1;
}

.Item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 4px;
  border-top-left-radius: 10px;
  transition: ease 0.3s;
}

.Item::after {
  transform: scaleX(0);
  transform-origin: left;
}

/* .Item:hover::after {
    transform: scaleX(1);
    transform-origin: right;
} */

.Item:hover {
  perspective: 50px;
  transform: scale3d(1.05, 1.05, 1.05);
}

.Item:focus {
  box-shadow: 2px 2px 5px black;
}

.addcustomtime {
  padding-right: 15px;
  padding-left: 15px;
  font-family: Roboto Mono;
  font-size: 25px;
}

/* Text inside item */

h3 {
  /* font-family: Roboto Mono; */
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0px 0px 10px lightgrey;
  color: black;
  font-weight: lighter;
}

.addcustomtime {
  cursor: pointer;
}

/* INPUT */

.custom-field input {
  font-family: cursive;
  border: none;
  appearance: none;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 7px;
  outline: none;
  width: 70%;
  font-size: 14;
}

.custom-field {
  opacity: 0%;
  bottom: 40px;
  position: relative;
  font-size: 14;
  font-family: cursive;
  padding-top: 20px;
  margin-bottom: 5px;
  transition: all ease 0.8s;
}
.Container:hover .custom-field {
  bottom: 5px;
}

.custom-field .placeholder {
  position: absolute;
  left: 12px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: #aaa;
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.custom-field input:focus + .placeholder {
  top: 10px;
  font-size: 10px;
  color: #222;
  left: 40%;
}

.custom-field input:focus {
  box-shadow: 2px 2px 5px black;
}

/* input::placeholder {
    color: #222;
    transition: color .3s ease;
}

input:focus::placeholder {
    color: transparent;
    margin-left: 50px;
} */

.dropdownmenu {
  display: none;
  position: absolute;
  z-index: 2;
  left: 0%;
  width: 100%;
  height: max-content;
  margin-top: -1%;
  background-color: #777;

  transition: margin-top ease 2s;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}
